{% extends "adminbase.html" %}
{% block content %}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-7 align-self-center">
            <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Good Morning Admin!</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb m-0 p-0">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{% url 'medicine_search' %}">Service</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{% url 'medicine' %}">Index</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="col-5 align-self-center">
            <div class="customize-input float-right">
                <!-- <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                    <option selected>Aug 19</option>
                    <option value="1">July 19</option>
                    <option value="2">Jun 19</option>
                </select> -->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="bg-dark shadow-sm mb-3"
            style="display: flex; width: 100%; justify-content: space-between; align-items: center; border-radius: 10px;">
            <h3 class="bg-dark text-white text-left fw-bolder p-3 rounded-1 fs-4"> Medicine Search Form</h3>
            <a href="{% url 'medicine' %}" class="btn btn-primary btn-rounded mr-3">+&nbsp;Add&nbsp;New</a>
        </div>
        <div class="col-12">
            <form class="form-group">
                {% csrf_token %}
                <div class="row w-100">
                    <!-- 🔹MEDICINE SEARCH FORM -->

                  <!-- Medicine ID -->
                    <div class="col-lg-4 mb-3 form-group">
                        <label for="medicineId">Medicine ID</label>
                        <select name="medicineId" id="medicineId" class="form-control p-2" >
                            <option value="" selected disabled>select medicine ID</option>
                             {% for x in data.medicine_id %}
                                <option value="{{x.medicine_id}}">{{x.medicine_id}}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>

                    <!-- Medicine Name -->
                    <div class="col-lg-4 mb-3 form-group">
                        <label for="medicineName">Medicine Name</label>
                        <select name="medicineName" id="medicineName" class="form-control p-2" >
                            <option value="" selected disabled>Select medicine name</option>
                            {% for x in data.medicine_name %}
                                <option value="{{x.medicine_name}}">{{x.medicine_name}}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>

                    <!-- Category -->
                    <div class="col-lg-4 mb-3 form-group">
                        <label for="category">Category</label>
                        <select name="category" id="category" class="form-control p-2" >
                            <option value="" selected disabled>Select medicine category</option>
                            {% for x in data.category %}
                                <option value="{{x.category}}">{{x.category}}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>

                    <!-- Manufacturer Name -->
                    <div class="col-lg-4 mb-3 form-group">
                        <label for="manufacturer">Manufacturer Name</label>
                        <select name="manufacturer" id="manufacturer" class="form-control p-2" >
                            <option value="" selected disabled>Select medicine manufacturer</option>
                            {% for x in data.manufacturer %}
                                <option value="{{x.manufacturer}}">{{x.manufacturer}}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>

                    <!-- Unit Type -->
                    <div class="col-lg-4 mb-3 form-group">
                        <label for="unitType">Unit Type</label>
                        <select name="unitType" id="unitType" class="form-control p-2" >
                            <option value="" selected disabled>Select unit type</option>
                            {% for x in data.unit_type %}
                                <option value="{{x.unit_type}}">{{x.unit_type}}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback"></div>
                    </div>

                    <!-- 🔘 SUBMIT & RESET BUTTONS -->
                    <div class="col-12">
                        <div class="d-flex justify-content-center align-items-center">
                            <button type="button" id="search" class="btn btn-primary fs-5 p-2 rounded-1">Search</button>
                            <button type="reset" class="ml-3 btn btn-danger fs-5 p-2 rounded-1">Reset</button>
                        </div>
                    </div>
                   </div>

            </form>
        </div>
        <div class="row w-100">
            <div class="col-12" style="overflow: auto;" id="table_data">
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#search').click(function (e) { 
            e.preventDefault();            
           $.ajax({
            type: "POST",
            url: "{% url 'medicine_search' %}",
            data: {
                'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val(),
                'medicineId': $('#medicineId').val(),
                'medicineName': $('#medicineName').val(),
                'category': $('#category').val(),
                'manufacturer': $('#manufacturer').val(),
                'unitType': $('#unitType').val(),
            },
            success: function (response) {
                console.log('Success:', response);
                $('#table_data').html(response.table_data);
            },
            error: function (xhr, status, error) {
                console.error('Error:', error);
            }
        });
        });
    });
</script>

{% endblock content %}
